table {
  border-style: solid;
}

th,td {
  padding: 10px;
}

th {
  border-bottom-style: double;
}

td {
  border-bottom-style: dashed;
  border-width: thin;
}

tr:last-child td {
  border-style: none;
}

input[type="text"] {
  width: 40px;
}
