table {
  border-style: solid;
}

th,td {
  padding: 10px;
}

th {
  border-bottom-style: double;
}

td {
  border-bottom-style: dashed;
  border-width: thin;
}

tr:last-child td {
  border-style: none;
}

input[type="text"] {
  width: 55px;
}

tr.odd-row {
  background-color: #def1ff;
}

tr.subtotal-row {
  background-color: #eeeeee;
}
